body{
	background-color: #fdfcf3 !important;
	padding: 0;
	margin: 0;
}

.header_layout{
	position: absolute;	
	text-align: center;
	top:0%;
	left: 10%;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	width:80vw;
	height: 80vh;
}

.logo{
	max-width: 100%;
}


.header_layout1{
	position: absolute;	
	text-align: center;
	top:0%;
	left: 25%;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	width:50vw;
	height: 50vh;
}

.signIn{
	max-width: 100%;
	/*margin-top: -300px;*/
}

/*HOME PAGE BUTTON*/
.inner {
  width: auto;
  margin: 0 auto;
}

.inner a {
  float: left;
  margin: 45px 25px 0;
}

.home_btn {
  position: relative;
  width: auto;
  height: 40px;
  padding: 0 90px 0 90px;
  font: 700 16px/40px 'Quattrocento Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
/*  border-radius: 20px;*/
  border: 1px solid #666766;
  cursor: pointer;
  color: #619d96 !important;
  font-size: 18px;
}


.home_btn:before {
  top: -10px;
  left: -10px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 1px solid #666766;
}

.home_btn.fb:before {
  content: "";
  background:url("../img/2.png") no-repeat 0 0;
  background-size: 65px auto;
  background-color: #fdfcf3;
  text-align:center;
  background-position:80% 50%;
}


.home_btn:before, .home_btn:after {
  content: '';
  position: absolute;
  box-sizing: border-box;
}


.home_btn.gp:before {
  content: "";
  background:url("../img/1.png") no-repeat 0 0;;
  background-size: 50px auto;
  background-color: #fdfcf3;
  text-align:center;
  background-position:30% 50%;
}

.home_btn:hover {
  background-color: #619d96;
  color:white !important;
  border: none;
  text-decoration: none;
}

.home_btn.fb:hover:before{
  transform: translate(12em);
}

.home_btn.gp:hover:before{
  transform: translate(12em);
}



