/*

Darko Bunic
http://www.redips.net/
Mar, 2011.

*/

body{
	font-family: arial;
	margin: 0px; /* for IE6 / IE7 */
}


/* drag container */
#main_container {
	margin: auto;
	width: 730px;
}
		/* container for the left table */
		#main_container #left {
			width: 130px;
			height: 320px;
			float: left;
			margin-right: 20px;
		}
		/* container for the main table and message line below */
		#main_container #right {
			width: 675px;
			padding-left: auto;
			padding-right: 0px;
			/* align div to the right */
			margin-left: auto;
		}

